.square {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(185, 184, 187)
}

.visited {
    background-color: yellow;
}

.start {
    background-color: red
}

.end {
    background-color: paleturquoise
}