.square {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(185, 184, 187)
}

.visited {
    background-color: #0066ff;
}

.start {
    background-color: #00004d
}

.end {
    background-color: #80d4ff
}

.shortest {
    background-color: yellow;
}

.wall {
    background-color: green;
}